* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: MainFont, serif;
  z-index: 0;
  background-color: $dark-color;
  text-shadow: 2px 2px 2px black;
  height: 100vh;
  overflow-y: scroll;
}

body {
  font-family: MainFont, serif;
  z-index: 0;
  background-color: $dark-color;
  text-shadow: 2px 2px 2px black;
}

@font-face {
  font-family: MainFont;
  src: url('~assets/fonts/OldNewspaperTypes.ttf');
}

@font-face {
  font-family: TextFont;
  src: url('~assets/fonts/Timeless.ttf');
}

p {
  margin: 8px 0;
}

.text-font {
  font-family: TextFont;
}

.bold {
  font-weight: bolder;
}

.full-page {
  width: 100%;
  min-height: calc(100vh - #{$nav-height});
  overflow: hidden;
}

.horizontal-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center-text {
  width: 100%;
  text-align: center;
}

.container {
  padding: 15px;
  display: block;
  @include xl {
    width: 65%;
  }
}

p {
  text-indent: 2em;
  margin-bottom: 0.5em;
  text-align: justify;
}

p,
li {
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

.flex {
  display: flex;

  &.v-center {
    align-items: center;
  }

  &.h-center {
    justify-content: center;
  }

  &.wrap {
    flex-wrap: wrap;
  }
}